# Puerto del servidor Express
PORT=4000

# Conexión local a PostgreSQL
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=torcoroma

# Enlace completo de conexión (ideal para Neon Serverless en producción)
# DATABASE_URL=postgres://usuario:contraseña@host:puerto/base_de_datos
